/***** BODY  ****/

* {
  box-sizing: border-box;
}


/*****  HEADER ****/

.mainTopBar {
  position: fixed;
  width: 100%;
  display: flex;
  font-size: 125%;
  margin-bottom: 5px;
}

.left-button {
  width:12%;
  padding: 25px 1%;
  background-color:  rgb(114, 222, 115) ;
  text-align: center;
  color: white;
}
.topTitle {
  width: 100%;
  position: absolute;
  padding: 25px;
  background-color: rgb(14, 71, 20);
  color: white;
  z-index: -1;
  text-align: center;
}

/***** MAIN ******/

.wrapper {
    margin: 0px 5%;
    margin-top:105px;
    width: 90%;
}
/***** SECTION ****/

.topSpace {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.titleTopSpace {
  font-size: 20px;
  margin: 16px 0px;
  font-weight: bold;
  background: white;
  color: rgb(14, 71, 20);
}


/***** ARTICLE****/

.foto {
  width: 100%;
}

.textArticle {
  margin: 16px 0px;
  line-height: 25px;
}

.immagineEverGreen {
  width: 100%;
  margin: 16px 0px;
  border-radius: 5%;
}

.bigLink {
  display: block;
  text-decoration: none;
  font-size:25px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px 0px;
  margin: 10px 0px;
}
#do-something {
  background-color: rgb(114, 222, 115);
}
#think-about-it {
  background-color: rgb(189, 196, 198);
}

#do-something:hover {
  background-color: rgb(14, 71, 20);
}
#think-about-it:hover {
  background-color: rgb(33, 28, 33);
}




/***** FOOTER ****/

.bottomSpace {
  background-color: rgba(197, 199, 180, 0.27);
  padding: 30px;

}

.titleBottomSpace {
  font-size: 20px;
  margin: 16px 0px;
  font-weight: bold;
  color: rgb(14, 71, 20);
}
.bottomSpace {
  margin: 40px 0px;
}
.listOfIcons {
  display: flex;
  flex-direction: row;
  font-size: 70px;
}
.listOfIcons li{
  margin: 5px 15px 40px 5px;
}
.listOfIcons a {
  text-decoration: none;
  color: rgb(189, 196, 198);
}


.facebook:hover {
  color: rgb(32, 27, 222);
}

.twitter:hover {
  color: rgb(29, 171, 241);
}

.instagram:hover {
  color: rgb(186, 69, 193);
}
.youtube:hover {
  color: red;
}
.google:hover {
  color: rgb(210, 13, 13);
}
/*****LEFT MENU ****/

.leftMenuBar {
  /* display: none;*/
  position: fixed;
  z-index: 5;
  width: 38%;
  right: auto;
  height: 100vh;
  color: white;
  margin-left: -60%;

  -moz-transition-property:all;
  -moz-transition-duration: 1s;

  -webkit-transition-property:  all;
  -webkit-transition-duration: 1s;

  -o-transition-property:  all;
  -o-transition-duration: 1s;
}

.navBarBlocked {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgb(14, 71, 20);;
  font-weight:bold;

}

.navBarBlocked li {
   cursor: pointer;
   padding: 17px;

   -moz-transition-property:   padding;
   -moz-transition-duration: 1s;

   -webkit-transition-property:  padding;
   -webkit-transition-duration: 1s;

   -o-transition-property:   padding;
   -o-transition-duration: 1s;
 }
.navBarBlocked li:hover {
   background-color: white;
   color: black;
 }

 .firstInside , .secondInside  {
   display: none;
  color: rgb(189, 196, 198);
 }

.fristDropped .firstInside {
  display: block;
 }

.secondDropped  .secondInside{
   display: block;
 }

 .firstInside {
   margin-left: 2%;
 }

.secondInside {
  margin-left: 4%;
}


/***** ANIMATION *****/

.menuOpened .leftMenuBar {
  margin-left: 0px;

  -moz-transition-property:   margin-left;
  -moz-transition-duration: 1s;

  -webkit-transition-property:   margin-left;
  -webkit-transition-duration: 1s;

  -o-transition-property:   margin-left;
  -o-transition-duration: 1s;

}

.menuOpened {
  overflow: hidden;
}
.menuOpened .realPage {

  margin-right: -60%;
  margin-left: 60%;

  -moz-transition-property:   all;
  -moz-transition-duration: 1s;

  -webkit-transition-property:   all;
  -webkit-transition-duration: 1s;

  -o-transition-property:   all;
  -o-transition-duration: 1s;

}

.realPage {

   margin-left: 0px;
   margin-right: 0px;

   -moz-transition-property: all;
   -moz-transition-duration: 1s;

   -webkit-transition-property: all;
   -webkit-transition-duration: 1s;

   -o-transition-property: all;
   -o-transition-duration: 1s;

}

.menuMoved .leftMenuBar{
 margin-left: 62%;
  -moz-transition-property:   all;
  -moz-transition-duration: 1s;

  -webkit-transition-property:  all;
  -webkit-transition-duration: 1s;

  -o-transition-property:   all;
  -o-transition-duration: 1s;
}

.menuMoved .realPage{

     margin-left: 0px;

     -moz-transition-property:   all;
     -moz-transition-duration: 1s;

     -webkit-transition-property:  all;
     -webkit-transition-duration: 1s;

     -o-transition-property:   all;
     -o-transition-duration: 1s;
}


/**** coolAnimation ***/


.leftMenuBar li:hover {
  padding-left: +29px;

  -moz-transition-property:   all;
  -moz-transition-duration: 1s;

  -webkit-transition-property:  all;
  -webkit-transition-duration: 1s;

  -o-transition-property:   all;
  -o-transition-duration: 1s;
}


/********* MEDIA QUERY *********/

@media screen and (min-width: 1220px) {

  .leftMenuBar {
    position: fixed;
    z-index: 5;
    width: 60%;
    height: 100vh;
    color: white;
    margin-left: -60%;

    -moz-transition-property:   all;
    -moz-transition-duration: 1s;

    -webkit-transition-property:  all;
    -webkit-transition-duration: 1s;

    -o-transition-property:   all;
    -o-transition-duration: 1s;
  }

  .menuMoved .leftMenuBar{
     margin-left: 40%;
      -moz-transition-property:   all;
      -moz-transition-duration: 1s;

      -webkit-transition-property:  all;
      -webkit-transition-duration: 1s;

      -o-transition-property:   all;
      -o-transition-duration: 1s;
  }

  .doubleButton {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .firstButton {
    width: 48%;
  }
  .secondButton {
    width: 48%;
  }
}
